SharpMap/Styles/StyleSerializationSchema.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
// Copyright 2006 - 2008: Rory Plaire (codekaizen@gmail.com)
//
// This file is part of SharpMap.
// SharpMap is free software; you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation; either version 2 of the License, or
// (at your option) any later version.
// 
// SharpMap is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Lesser General Public License for more details.

// You should have received a copy of the GNU Lesser General Public License
// along with SharpMap; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA 
-->

<xsd:schema xmlns="urn:SharpMap:StyleSerializationSchema.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sm="urn:SharpMap:StyleSerializationSchema.xsd" targetNamespace="urn:SharpMap:StyleSerializationSchema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" id="StyleSerializationSchema">
  <!-- Primitive Types -->
  <xsd:complexType name="ArrayOfFloat">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="float" type="xsd:float" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ArrayOfStyleBrush">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="StyleBrush" nillable="true" type="StyleBrushStorageType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- Style Enumerations -->
  <xsd:simpleType name="StyleLineCapStorageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NoAnchor"/>
      <xsd:enumeration value="AnchorMask"/>
      <xsd:enumeration value="ArrowAnchor"/>
      <xsd:enumeration value="Custom"/>
      <xsd:enumeration value="DiamondAnchor"/>
      <xsd:enumeration value="Flat"/>
      <xsd:enumeration value="Round"/>
      <xsd:enumeration value="RoundAnchor"/>
      <xsd:enumeration value="Square"/>
      <xsd:enumeration value="SquareAnchor"/>
      <xsd:enumeration value="Triangle"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LineDashCapStorageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Flat"/>
      <xsd:enumeration value="Round"/>
      <xsd:enumeration value="Triangle"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LineDashStyleStorageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Solid"/>
      <xsd:enumeration value="Dash"/>
      <xsd:enumeration value="Dot"/>
      <xsd:enumeration value="DashDot"/>
      <xsd:enumeration value="DashDotDot"/>
      <xsd:enumeration value="Custom"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StyleLineJoinStorageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Miter"/>
      <xsd:enumeration value="Bevel"/>
      <xsd:enumeration value="Round"/>
      <xsd:enumeration value="MiterClipped"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StylePenAlignmentStorageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Center"/>
      <xsd:enumeration value="Inset"/>
      <xsd:enumeration value="Outset"/>
      <xsd:enumeration value="Left"/>
      <xsd:enumeration value="Right"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="HorizontalAlignmentStorageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Center"/>
      <xsd:enumeration value="Left"/>
      <xsd:enumeration value="Right"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="VerticalAlignmentStorageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Bottom"/>
      <xsd:enumeration value="Top"/>
      <xsd:enumeration value="Middle"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StyleTextRenderingHintStorageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SystemDefault"/>
      <xsd:enumeration value="SingleBitPerPixelGridFit"/>
      <xsd:enumeration value="SingleBitPerPixel"/>
      <xsd:enumeration value="AntiAliasGridFit"/>
      <xsd:enumeration value="AntiAlias"/>
      <xsd:enumeration value="ClearTypeGridFit"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="CollisionTestTypeStorageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None"/>
      <xsd:enumeration value="Simple"/>
      <xsd:enumeration value="Advanced"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StyleFontStyleStorageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Bold"/>
      <xsd:enumeration value="Italic"/>
      <xsd:enumeration value="Regular"/>
      <xsd:enumeration value="Strikeout"/>
      <xsd:enumeration value="Underline"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Matrix Storage Types -->
  <xsd:complexType name="Matrix2DStorageType">
    <xsd:attribute name="M11" type="xsd:double" use="required"/>
    <xsd:attribute name="M12" type="xsd:double" use="required"/>
    <xsd:attribute name="M21" type="xsd:double" use="required"/>
    <xsd:attribute name="M22" type="xsd:double" use="required"/>
    <xsd:attribute name="OffsetX" type="xsd:double" use="required"/>
    <xsd:attribute name="OffsetY" type="xsd:double" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ColorMatrixStorageType">
    <xsd:attribute name="R" type="xsd:double" use="required"/>
    <xsd:attribute name="G" type="xsd:double" use="required"/>
    <xsd:attribute name="B" type="xsd:double" use="required"/>
    <xsd:attribute name="A" type="xsd:double" use="required"/>
    <xsd:attribute name="RedShift" type="xsd:double" use="required"/>
    <xsd:attribute name="GreenShit" type="xsd:double" use="required"/>
    <xsd:attribute name="BlueShift" type="xsd:double" use="required"/>
    <xsd:attribute name="AlphaShift" type="xsd:double" use="required"/>
  </xsd:complexType>

  <!-- 2D Storage Types -->
  <xsd:complexType name="Point2DStorageType">
    <xsd:attribute name="X" type="xsd:double" default="0"/>
    <xsd:attribute name="Y" type="xsd:double" default="0"/>
  </xsd:complexType>

  <xsd:complexType name="Size2DStorageType" mixed="false">
    <xsd:attribute name="Width" type="xsd:double"/>
    <xsd:attribute name="Height" type="xsd:double"/>
  </xsd:complexType>

  <xsd:complexType name="Symbol2DStorageType">
    <xsd:sequence>
      <xsd:element name="AffineTransform" type="sm:Matrix2DStorageType" minOccurs="0"/>
      <xsd:element name="ColorTransform" type="sm:ColorMatrixStorageType" minOccurs="0"/>
      <xsd:element name="Size" type="sm:Size2DStorageType" minOccurs="0"/>
      <xsd:element name="Data" type="xsd:base64Binary" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Font Storage Types -->
  <xsd:complexType name="StyleFontFamilyStorageType">
    <xsd:attribute name="Name" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="StyleFontStorageType" mixed="false">
    <xsd:sequence>
      <xsd:element name="FontFamily" type="sm:StyleFontFamilyStorageType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Size" type="sm:Size2DStorageType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Style" type="sm:StyleFontStyleStorageType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Drawing Storage Types -->
  <xsd:simpleType name="StyleColorStorageType">
    <xsd:restriction base="xsd:unsignedInt"/>
  </xsd:simpleType>

  <xsd:complexType name="StyleBrushStorageType" mixed="false">
    <xsd:attribute name="Color" type="sm:StyleColorStorageType" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="StylePenStorageType" mixed="false">
    <xsd:sequence>
      <xsd:element name="Alignment" type="StylePenAlignmentStorageType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="CompoundArray" type="ArrayOfFloat" minOccurs="0" maxOccurs="1" />
      <xsd:element name="MiterLimit" type="xsd:float" minOccurs="1" maxOccurs="1" />
      <xsd:element name="BackgroundBrush" type="StyleBrushStorageType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="DashOffset" type="xsd:float" minOccurs="1" maxOccurs="1" />
      <xsd:element name="DashPattern" type="ArrayOfFloat" minOccurs="0" maxOccurs="1" />
      <xsd:element name="DashBrushes" type="ArrayOfStyleBrush" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DashStyle" type="LineDashStyleStorageType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="StartCap" type="StyleLineCapStorageType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="EndCap" type="StyleLineCapStorageType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="DashCap" type="LineDashCapStorageType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="LineJoin" type="StyleLineJoinStorageType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Transform" type="sm:Matrix2DStorageType" minOccurs="0" maxOccurs="1" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Width" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- Style Storage Types -->
  <xsd:complexType name="StyleStorageType">
    <xsd:sequence>
      <xsd:element name="Enabled" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="MinVisible" type="xsd:double" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="MaxVisible" type="xsd:double" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RasterStyleStorageType">
    <xsd:complexContent>
      <xsd:extension base="sm:StyleStorageType"/>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FeatureStyleStorageType" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sm:StyleStorageType">
        <xsd:sequence>
          <xsd:element name="Line" type="sm:StylePenStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="HighlightLine" type="sm:StylePenStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="SelectLine" type="sm:StylePenStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="Outline" type="sm:StylePenStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="HighlightOutline" type="sm:StylePenStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="SelectOutline" type="sm:StylePenStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="EnableOutline" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="Fill" type="sm:StyleBrushStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="HighlightFill" type="sm:StyleBrushStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="SelectFill" type="sm:StyleBrushStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="AreFeaturesSelectable" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="LabelFormatExpression" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GeometryStyleStorageType">
    <xsd:complexContent>
      <xsd:extension base="sm:FeatureStyleStorageType">
        <xsd:sequence>
          <xsd:element name="Symbol" type="sm:Symbol2DStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="HighlightSymbol" type="sm:Symbol2DStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="SelectSymbol" type="sm:Symbol2DStorageType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LabelStyleStorageType">
    <xsd:complexContent>
      <xsd:extension base="sm:FeatureStyleStorageType">
        <xsd:sequence>
          <xsd:element name="HorizontalAlignment" type="sm:HorizontalAlignmentStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="VerticalAlignment" type="sm:VerticalAlignmentStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="TextRenderingHint" type="sm:StyleTextRenderingHintStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="CollisionBuffer" type="sm:Size2DStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="Offset" type="sm:Point2DStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="Halo" type="sm:StylePenStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="Font" type="sm:StyleFontStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="Foreground" type="sm:StyleBrushStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="Background" type="sm:StyleBrushStorageType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="CollisionTestType" type="sm:CollisionTestTypeStorageType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LayerStyleType">
    <xsd:choice>
      <xsd:element name="GeometryStyle" type="sm:GeometryStyleStorageType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LabelStyle" type="sm:LabelStyleStorageType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RasterStyle" type="sm:RasterStyleStorageType" minOccurs="0" maxOccurs="1"/>
    </xsd:choice>
  </xsd:complexType>

  <!-- Document Element -->
  <xsd:element name="LayerProperties" nillable="true" type="sm:LayerStyleType"/>
</xsd:schema>
