Demos/SharpMapWinFormsDemo/StyleStorage/Xsd/LabelStyle.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LabelStyle" nillable="true" type="LabelStyle" />
  <xs:complexType name="LabelStyle">
    <xs:complexContent mixed="false">
      <xs:extension base="FeatureStyle">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TextRenderingHint" type="StyleTextRenderingHint" />
          <xs:element minOccurs="0" maxOccurs="1" name="Font" type="StyleFont" />
          <xs:element minOccurs="0" maxOccurs="1" name="Foreground" type="StyleBrush" />
          <xs:element minOccurs="0" maxOccurs="1" name="Background" type="StyleBrush" />
          <xs:element minOccurs="0" maxOccurs="1" name="Halo" type="StylePen" />
          <xs:element minOccurs="1" maxOccurs="1" name="Offset" type="ArrayOfDouble" />
          <xs:element minOccurs="1" maxOccurs="1" name="CollisionBuffer" type="ArrayOfDouble" />
          <xs:element minOccurs="1" maxOccurs="1" name="HorizontalAlignment" type="HorizontalAlignment" />
          <xs:element minOccurs="1" maxOccurs="1" name="VerticalAlignment" type="VerticalAlignment" />
          <xs:element minOccurs="1" maxOccurs="1" name="CollisionDetectionType" type="CollisionDetectionType" />
          <xs:element minOccurs="0" maxOccurs="1" name="LabelExpression" type="Expression" />
          <xs:element minOccurs="0" maxOccurs="1" name="GeometryExpression" type="Expression" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FeatureStyle" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="Style">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="RenderingMode" type="StyleRenderingMode" />
          <xs:element minOccurs="1" maxOccurs="1" name="AreFeaturesSelectable" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Style">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MinVisible" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="MaxVisible" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="Enabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="StyleRenderingMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="None" />
      <xs:enumeration value="AntiAlias" />
      <xs:enumeration value="HighQuality" />
      <xs:enumeration value="HighSpeed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StyleTextRenderingHint">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SystemDefault" />
      <xs:enumeration value="SingleBitPerPixelGridFit" />
      <xs:enumeration value="SingleBitPerPixel" />
      <xs:enumeration value="AntiAliasGridFit" />
      <xs:enumeration value="AntiAlias" />
      <xs:enumeration value="ClearTypeGridFit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StyleFont">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Size" type="ArrayOfDouble" />
      <xs:element minOccurs="1" maxOccurs="1" name="Style" type="StyleFontStyle" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfDouble">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="double" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="StyleFontStyle">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Bold" />
          <xs:enumeration value="Italic" />
          <xs:enumeration value="Regular" />
          <xs:enumeration value="Strikeout" />
          <xs:enumeration value="Underline" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="StyleBrush" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Color" type="StyleColor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StyleColor" />
  <xs:complexType name="StylePen">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Alignment" type="StylePenAlignment" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompoundArray" type="ArrayOfFloat" />
      <xs:element minOccurs="1" maxOccurs="1" name="MiterLimit" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="BackgroundBrush" type="StyleBrush" />
      <xs:element minOccurs="1" maxOccurs="1" name="DashOffset" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="DashPattern" type="ArrayOfFloat" />
      <xs:element minOccurs="0" maxOccurs="1" name="DashBrushes" type="ArrayOfStyleBrush" />
      <xs:element minOccurs="1" maxOccurs="1" name="DashStyle" type="LineDashStyle" />
      <xs:element minOccurs="1" maxOccurs="1" name="StartCap" type="StyleLineCap" />
      <xs:element minOccurs="1" maxOccurs="1" name="EndCap" type="StyleLineCap" />
      <xs:element minOccurs="1" maxOccurs="1" name="DashCap" type="LineDashCap" />
      <xs:element minOccurs="1" maxOccurs="1" name="LineJoin" type="StyleLineJoin" />
      <xs:element minOccurs="0" maxOccurs="1" name="Transform" type="Matrix2D" />
      <xs:element minOccurs="1" maxOccurs="1" name="Width" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="StylePenAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Center" />
      <xs:enumeration value="Inset" />
      <xs:enumeration value="Outset" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfFloat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="float" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfStyleBrush">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StyleBrush" nillable="true" type="StyleBrush" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LineDashStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Solid" />
      <xs:enumeration value="Dash" />
      <xs:enumeration value="Dot" />
      <xs:enumeration value="DashDot" />
      <xs:enumeration value="DashDotDot" />
      <xs:enumeration value="Custom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StyleLineCap">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AnchorMask" />
      <xs:enumeration value="ArrowAnchor" />
      <xs:enumeration value="Custom" />
      <xs:enumeration value="DiamondAnchor" />
      <xs:enumeration value="Flat" />
      <xs:enumeration value="NoAnchor" />
      <xs:enumeration value="Round" />
      <xs:enumeration value="RoundAnchor" />
      <xs:enumeration value="Square" />
      <xs:enumeration value="SquareAnchor" />
      <xs:enumeration value="Triangle" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LineDashCap">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Flat" />
      <xs:enumeration value="Round" />
      <xs:enumeration value="Triangle" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StyleLineJoin">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Miter" />
      <xs:enumeration value="Bevel" />
      <xs:enumeration value="Round" />
      <xs:enumeration value="MiterClipped" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Matrix2D">
    <xs:complexContent mixed="false">
      <xs:extension base="AffineMatrix">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="M11" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="M21" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="OffsetX" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="M12" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="M22" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="OffsetY" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AffineMatrix">
    <xs:complexContent mixed="false">
      <xs:extension base="Matrix" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Matrix" />
  <xs:simpleType name="HorizontalAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="Center" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerticalAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bottom" />
      <xs:enumeration value="Top" />
      <xs:enumeration value="Middle" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CollisionDetectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Simple" />
      <xs:enumeration value="Advanced" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Expression" abstract="true" />
</xs:schema>
