Demos/SharpMapWinFormsDemo/StyleStorage/Xsd/Style.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Style" nillable="true" type="Style" />
  <xs:complexType name="Style">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MinVisible" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="MaxVisible" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="Enabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
