Demos/SharpMapWinFormsDemo/StyleStorage/Xsd/StyleColorBlend.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StyleColorBlend" nillable="true" type="StyleColorBlend" />
  <xs:complexType name="StyleColorBlend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Colors" type="ArrayOfStyleColor" />
      <xs:element minOccurs="0" maxOccurs="1" name="Positions" type="ArrayOfFloat" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfStyleColor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StyleColor" type="StyleColor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StyleColor" />
  <xs:complexType name="ArrayOfFloat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="float" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
