SharpMap.Data.Providers/SharpMap.Data.Providers.OpenStreetMap/Schema/osm.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:complexType name="osm">
		<xs:choice>
			<xs:element ref="user"/>
			<xs:element ref="preferences"/>
			<xs:element ref="gpx_file"/>
			<xs:element ref="api"/>
			<xs:element ref="changeset"/>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="node"/>
				<xs:element ref="way"/>
				<xs:element ref="relation"/>
			</xs:choice>
		</xs:choice>
		<xs:attribute name="version" fixed="0.6" type="xs:anySimpleType"/>
		<xs:attribute name="generator" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="osm" type="osm"/>
	<xs:complexType name="user">
		<xs:sequence>
			<xs:element ref="home" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="display_name" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="account_created" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="user" type="user"/>
	<xs:complexType name="home">
		<xs:attribute name="lat" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="lon" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="zoom" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="home" type="home"/>
	<xs:complexType name="preferences">
		<xs:sequence>
			<xs:element ref="tag" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="preferences" type="preferences"/>
	<xs:complexType name="gpx_file">
		<xs:attribute name="id" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="name" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="lat" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="lon" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="user" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="public" default="false">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="pending" default="false">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="timestamp" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="gpx_file" type="gpx_file"/>
	<xs:complexType name="api">
		<xs:sequence>
			<xs:element ref="version"/>
			<xs:element ref="area"/>
			<xs:element ref="tracepoints"/>
			<xs:element ref="waynodes"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="api" type="api"/>
	<xs:complexType name="version">
		<xs:attribute name="minimum" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="maximum" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="version" type="version"/>
	<xs:complexType name="area">
		<xs:attribute name="maximum" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="area" type="area"/>
	<xs:complexType name="tracepoints">
		<xs:attribute name="per_page" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="tracepoints" type="tracepoints"/>
	<xs:complexType name="waynodes">
		<xs:attribute name="maximum" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="waynodes" type="waynodes"/>
	<xs:complexType name="changeset">
		<xs:sequence>
			<xs:element ref="tag" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="changeset" type="changeset"/>
	<xs:complexType name="node">
		<xs:sequence>
			<xs:element ref="tag" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="lat" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="lon" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="changeset" type="xs:anySimpleType"/>
		<xs:attribute name="visible" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="user" type="xs:anySimpleType"/>
		<xs:attribute name="timestamp" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="node" type="node"/>
	<xs:complexType name="way">
		<xs:sequence>
			<xs:element ref="tag" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="nd"/>
			<xs:element ref="tag" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="nd"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tag"/>
				<xs:element ref="nd"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="changeset" type="xs:anySimpleType"/>
		<xs:attribute name="visible" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="user" type="xs:anySimpleType"/>
		<xs:attribute name="timestamp" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="way" type="way"/>
	<xs:complexType name="nd">
		<xs:attribute name="ref" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="nd" type="nd"/>
	<xs:complexType name="relation">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tag"/>
				<xs:element ref="member"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="changeset" type="xs:anySimpleType"/>
		<xs:attribute name="visible" type="xs:anySimpleType"/>
		<xs:attribute name="user" type="xs:anySimpleType"/>
		<xs:attribute name="timestamp" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="relation" type="relation"/>
	<xs:complexType name="member">
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="way"/>
					<xs:enumeration value="node"/>
					<xs:enumeration value="relation"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ref" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="role" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="member" type="member"/>
	<xs:complexType name="tag">
		<xs:attribute name="k" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="v" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="tag" type="tag"/>
</xs:schema>
